@use "../../styles/variables.scss" as *;

.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, $background-color, $secondary-color 100%);
  direction: rtl;

  &__card {

    .card__header {
      text-align: center;  
    }
    
    .card__title {
      font-size: $h3-font-size;
      font-weight: 700;
      color: $text-color;
    }
    
    
  }

  &__card-content {
    padding: $padding-normal;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__logo {
    text-align: center;
    padding: $padding-normal;
    
    img {
      max-width: 200px;
      height: auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: $padding-large;
    width: 100%;
  }

  &__form-fields {
    display: flex;
    flex-direction: column;
    gap: $padding-normal;
  }
}
