@use '../../styles/variables' as *;
@use 'sass:color';

.assistance-form-footer {
  padding: $padding-normal;
  border-top: $border-line;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
  }

  &__progress {
    display: flex;
    gap: $padding-small;
    align-items: center;

    &-bar {
      width: 45px;
      height: 4px;
      background-color: $progress-bar-color;
      border-radius: $border-radius;
      transition: all 0.3s ease;

      &--active {
        background-color: $secondary-color;
      }

      &--completed {
        background-color: color.adjust($primary-color, $lightness: 10%);

      }
    }
  }
}

