@use "../../styles/variables" as *;

.final-step {
  max-width: 600px;
  margin: 0 auto;
  padding: $padding-large;
  
  &__title {
    font-family: $header-font-family;
    font-size: $h2-font-size;
    font-weight: $header-font-weight;
    color: $text-color;
    text-align: center;
    margin: 0 0 $padding-large 0;
  }
  &__image {
    height: 350px;
    margin-bottom: $padding-large;
  }
  
}
  
  

// Responsive design
@media (max-width: 768px) {
  .location-step {
    padding: $padding-normal;
    
    &__title {
      font-size: $h3-font-size;
    }
    
    &__fields {
      gap: $padding-normal;
    }
  }
}