@use '../../styles/variables' as *;

.step-sub-type-selection {
  &__main-type {
    align-items: center;
    justify-content: center;
    gap: $padding-small;
    font-size: $h4-font-size;
    font-weight: $header-font-weight;
    color: $text-color;
    &-icon {
      font-size: 30px;
    }
  }
}
