@use '../../../styles/variables' as *;

.assistance-form-header {
  background-color: $primary-color;
  padding: $padding-medium;
  color: $text-inverse;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
  }

  &__logo {
    img {
      height: 45px;
      width: auto;
    }
  }

  &__title {
    font-size: $h1-font-size;
    font-weight: $header-font-weight;
    margin: 0;
    text-align: center;
    flex: 1;
  }
}
